<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Reviews</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="back()" slot="start">
        <ion-icon name="arrow-back-outline" style="font-size: 32px;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()" slot="start">
        <ion-icon name="menu-outline" style="font-size: 32px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content >

  <ion-list class="line-input" *ngIf="!isLoading"> 
    <ion-item  *ngFor="let item of ratingList; let i = index">
      <ion-thumbnail slot="start" >
        <ion-img  [src]="item.from_user_picture"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{item.from_user_name}}</h2>
        <p>{{item.feedback_text}}</p>
      </ion-label>
      <ionic5-star-rating #rating
        activeIcon = "star"
        defaultIcon = "star-outline"
        activeColor = "#f7c00b" 
        defaultColor = "grey"
        halfStar="true"
        rating={{item.marks}}
        fontSize = "24px">
    </ionic5-star-rating>
    </ion-item>
  </ion-list>
</ion-content>
