ion-header{
    text-align: center;
}
.line-input {
    margin-bottom: 0!important;
    background: transparent;
    //border-radius: 50px;
    ion-item {
        --background: white;
        --highlight-color-focused: none;
        --highlight-background: none;
        border-radius: 10px;
        ion-input {
            --placeholder-color: #cc0000;     /* placeholder text color */
            color: black; /* input text color to primary */
        }
        ion-label {
            color: #cc0000!important;
            font-weight: 300;
            font-size: 14px!important;
        }

        ion-icon{
            color: #cc0000 !important;
            margin-right: 8px !important;
        }
    }
}
.segment{
    --color:#3880ff;
    --color-checked:#cc0000; 
    font-size: 11px;
    width: 100px;
}
ion-thumbnail{
    --border-radius: 50%;
}
