<ion-content>
  <ion-list class="ion-no-padding">
    <ion-item class="ion-no-padding header-img-div" >
     
      <div *ngIf="service_request.customer_profile_picture != undefined" class="cover-img-div" [style.background-image]="'url('+service_request.customer_profile_picture+')'">
        <div class="cover-img-mask"></div>
          <ion-grid>
            <ion-row class="ion-justify-content-center ion-align-items-center"  style="margin-top: 20px;">
              <ion-col size="2" class="ion-text-center">
                <ion-icon name="arrow-back-outline" style="color: white; font-size: 28px;" (click)="back()"></ion-icon>
              </ion-col>
              <ion-col size="8" class="ion-text-center">
                <ion-label style="color: white; font-size: 18px;">{{service_request.from_user_name}}</ion-label>
              </ion-col>  
              <ion-col size="2" class="ion-text-center">
                <ion-icon name="menu-outline" style="color: white; font-size: 28px;" (click)="openMenu()"></ion-icon>
              </ion-col>                          
            </ion-row>
          </ion-grid>          
          <!-- <div class="price-div">${{service_request.service_price}}</div> -->
          <!-- <div class="message-btn-div">
            <ion-button class="msg-btn">Message</ion-button>
          </div> -->
          <div class="price-div">${{service_request.service_price}}</div>

      </div>
  
    </ion-item>
  </ion-list>
  <ion-card class="profile-card">
    <!-- <ion-card-header style="margin-top: 70px;">
      <ion-card-title> {{service_request.name}}</ion-card-title>
    </ion-card-header> -->
    <!-- <ion-card-subtitle>Service Free Price: <span style="color: #cc0000;">${{service_request.service_price}}</span></ion-card-subtitle> -->
    <ion-card-content style="width: 100%;">
      <ion-grid class="ion-no-padding">

         <ion-row class="ion-justify-content-center ion-align-items-center avatar-row">
          <ion-col size="12">
            <ion-item>
              <p><span class="question-answer-text">Question:</span><br/>{{service_request.request}}</p>
            </ion-item> 
          </ion-col>
         </ion-row>  
         <ion-row>
           <ion-col>
            <ion-item lines="none">
              <ion-label><span class="question-answer-text">Answer:</span> </ion-label>
            </ion-item>
            <div class="video-section">
              <div *ngIf="!selectedVideo" class="answer-video" style="background-image: url(../../../assets/imgs/nofound.jpg);">
                <ion-spinner *ngIf="isLoadingVideo" name="bubbles" style="color: #cc0000;"></ion-spinner>
              </div>
            </div> 
            <div *ngIf="selectedVideo" class="video-section">

              <div class="answer-video" [style.background-image]="'url('+seletedVideoThumb+')'">
                <ion-icon name="play" style="font-size: 36px; color: white;" (click)="playVideo()"></ion-icon>
              </div>
              
              <div class="button-options" *ngIf="!uploadedVideo && !isUploading">
                <button ion-button clear (click)="cancelSelection()">
                  <ion-icon name="close-circle" color="danger"></ion-icon>
                </button>
                <button ion-button clear (click)="uploadVideo()">
                  <ion-icon name="checkmark-circle" color="secondary"></ion-icon>
                </button>
              </div>
              <div *ngIf="isUploading">
                <div class="uploading">
                  <p><ion-spinner name="bubbles" style="color: #cc0000;"></ion-spinner></p>
                </div>
                <!-- <div class="button-options">
                  <button ion-button clear (click)="cancelUpload()">
                    <ion-icon name="close-circle" color="danger"></ion-icon>
                  </button>
                </div> -->
              </div>
            </div>  
           </ion-col>
         </ion-row>
         <ion-row class="ion-justify-content-center ion-align-items-center avatar-row">
           <ion-col class="ion-text-center">
            <ion-button *ngIf="isShowAnswerBtn" class="giveanswer-button" mode="ios" fill="solid" size="default" shape="round" expand="block" (click)="selectVideo()">
              Give Answer
            </ion-button>                
           </ion-col>
         </ion-row>
      </ion-grid>   

    </ion-card-content>
  </ion-card>
 
  <!-- <ion-avatar class="profile-avatar-div" (click)="selectImage()">
    <ion-img *ngIf="service_request.profile_picture != ''" [src]="service_request.profile_picture"></ion-img>
    <ion-img *ngIf="service_request.profile_picture == ''" src="../../assets/imgs/noavatar.jpeg" ></ion-img>
  </ion-avatar> -->
</ion-content>
