<ion-header>
    <ion-toolbar>
      <ion-title style="margin-left: 50px;">Services</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="openMenu()" slot="end">
          <ion-icon name="menu-outline" style="font-size: 32px;"></ion-icon>
        </ion-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-grid fixed>
        <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col size="11" class="ion-text-center">
                <ion-list class="line-input" mode="md">
                    <ion-item >
                        <ion-label>Service Type</ion-label>
                        <ion-select class="select-service" [(ngModel)]="selectService">
                            <ion-select-option value="text">Text</ion-select-option>
                            <ion-select-option value="video">Video</ion-select-option>
                            <ion-select-option value="live-video">Live Video</ion-select-option>
                        </ion-select>
                        <!-- <ion-button  slot="end" fill="solid"size="default" shape="round" expand="block">
                            $50
                          </ion-button> -->
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col size="11" class="ion-text-center">
                <ion-searchbar placeholder="Search celebrities" style="text-align: center;"></ion-searchbar>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-align-items-center" *ngIf="isLoading">
            <ion-col size="11" class="ion-text-center">
                <app-loading></app-loading>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-align-items-center" *ngFor="let user of users">
            <ion-col size="12" class="ion-text-center">
                <ion-item (click)="gotoServiceRequest(user);" *ngIf="user.service_price != ''">
                    <ion-thumbnail slot="start" style="--border-radius: 50%;">
                        <img src={{user.logo}}>
                    </ion-thumbnail>
                    <ion-label>{{user.name}}</ion-label>
                    <ion-button size='medium'>${{user.service_price}}</ion-button>   
                    
                </ion-item>
            </ion-col>
        </ion-row>

    </ion-grid>
    
</ion-content>
