<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100px;">
      <ion-col size="12" class="ion-text-center">
          <span class="page-title"><strong>Forgot Password</strong></span>
      </ion-col>
    </ion-row>  
    <ion-row class="ion-justify-content-center ion-align-items-center" [ngStyle]="{'height': rowHeight1}">
      <ion-col size="10" class="ion-text-center">
        <form class="form" [formGroup]="validationsform" (ngSubmit)="tryResetPwd(validationsform.value)">
        <ion-list class="line-input" mode="md"> 
          <ion-item mode="md">
            <ion-icon name="person-outline" size="small" slot="start"></ion-icon>
            <ion-input class="ion-text-left" placeholder="Email Address" type="text" formControlName="user_login"></ion-input>
          </ion-item> 
        </ion-list>        
        <app-loading *ngIf="isLoading"></app-loading>       
        <ion-button  class="button-login" mode="ios" type="submit" fill="solid" [disabled]="!validationsform.valid" size="default" shape="round" expand="block">
          Reset Password
        </ion-button>
        </form>
        <p class="go-to-signin">
          <a [routerLink]="['/signin']">Back to Login</a>
        </p> 
      </ion-col>
    </ion-row>     
  </ion-grid>
</ion-content>
