ion-header{
    text-align: center;
}
ion-item {
    --background: white;
    --highlight-color-focused: none;
    --highlight-background: none;
    --min-height: 58px;
}
.rating-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rating-mark-text{
    color: white; 
    font-size: large; 
    font-weight: 600;
}
.header-img-div {
    --padding-end: 0px;
    --inner-padding-end: 0px;
    // here other custom CSS from documentation
  }
.cover-img-div{
    width: 100%;
    height: 280px;
    position: relative;
    //background-image: url('../../../../assets/imgs/profile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    // border-bottom-left-radius: 20%;
    // border-bottom-right-radius: 20%;
}
.cover-img-mask{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.6);
    // border-bottom-left-radius: 20%;
    // border-bottom-right-radius: 20%;
}  
.profile-card{
    //height: 280px;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    background-color: white;
    z-index: 1;
    
}
.profile-avatar-div{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
     --border-radius: 10%;
     z-index: 2; 
}

.profile-avatar-col{
    display: flex; 
    justify-content: center; 
    flex-direction: row;
}
.camera-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24pt;
    transform: translate(-50%, -50%);
}

.updateprofile-button{
    height: 50px;
    font-size: 14px;
    font-weight: bold !important;
    margin: 0 !important;
    margin-top: 10px !important;
    text-transform: uppercase !important;
   --color: white;
    --color-activated: white;
    --background-activated : #e76b6b;
    --background: #cc0000;
}
.other-button{
    width: 90%;
    height: 50px;
    margin: auto !important;
    font-size: 18px;
    // font-weight: bold !important;
    margin-top: 20px !important;
//  text-transform: uppercase !important;
    --border-radius: 20px;
   --color: black;
    --color-activated: white;
    --background-activated : #c7c7c7;
    --background: white;
    .span-left{
        width: 50%;
        text-align: left;
    }
    .span-right{
        width: 50%;
        text-align: right;
        ion-icon{
            color: #cc0000;
        }
    }
}


